<#include "_header.html">

<h2>Itens Disponíveis</h2>

<#if error??>
<p class="error" id="message1">${error}</p>
<script>
    setTimeout(() => document.getElementById('message1').style.display = 'none', 5000);
</script>
</#if>

<#if success??>
<p class="success" id="message2">${success}</p>
<script>
    setTimeout(() => document.getElementById('message2').style.display = 'none', 5000);
</script>
</#if>

<small>Clique no item para ver detalhes.</small>
<#if things?has_content>
<#list things as thing>
<p><a href="/thing/view/${thing.id}">${thing.name}</a></p>
</#list>
<#else>
<p>Nenhum item disponível.</p>
</#if>

<#include "_footer.html">